# Ejercicio 1: Transformar cadenas

In [8]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [9]:
# Divide el texto
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [10]:
# Palabras clave
key_words = ["average", "temperature", "distance"]

In [11]:
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [12]:
# Ciclo para cambiar C a Celsius
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando Cadenas

In [13]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [14]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [15]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2

SyntaxError: unterminated triple-quoted string literal (detected at line 4) (1189541526.py, line 2)

In [ ]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

In [ ]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
# Comprobamos la plantilla
print(hechos)

In [ ]:
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

In [ ]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))